In [1]:
#dictionaries
d={"key1":"item1", "key2":"item2","kucing":[3,"jerapah"]}#ini adalah variabel yang isinya direcftional
print(d["key1"])
print(d["key2"])
print(d["kucing"])
print(d["kucing"][1])#akan mengambil value i kucing

item1
item2
[3, 'jerapah']
jerapah

In [2]:
#key tidak harus string
d={1:[1,2,3,4],"age":[40,50,60]}
print(d)

{1: [1, 2, 3, 4], 'age': [40, 50, 60]}

In [3]:
d={0.5:[76,34,353],1:[55],"angka":[]}
print(d)

{0.5: [76, 34, 353], 1: [55], 'angka': []}

### ----

In [4]:
bob1= dict(name="bob",job="dev",age=40)#ini adalah pendifinisian suatu dict, menggunakan fungsi dict
#diikuti dengan ()<-- tuple bukan {}
#nama keys tidak perlu menggunakan tanda '' dan pemisahnya menggunakan =

In [5]:
#zip
#zip ini harus list
bob2=dict(zip(["name","job","age","adress"],["bob","data science",[40,45],[]]))#zip(list dari nama keys ,list dari value)
print(bob2)

{'name': 'bob', 'job': 'data science', 'age': [40, 45], 'adress': []}

### dictioneries inside dictionaries

In [6]:
d={"key1":{"key2":"item1"}, "kucing":[3,"jerapah",["anggora","persia"]]}
print(d["key1"]["key2"])
print(d["kucing"][2][0])

item1
anggora

In [7]:
d={"key1":{"key2":{"key3":"item1"}}}
d["key1"]["key2"]["key3"]

'item1'

In [8]:
db={"nama":{"first":["Fariz","risyad"],"last":["purnomo"]},"job":["Fresh Graduate"],"age":[22]}
print(db)

{'nama': {'first': ['Fariz', 'risyad'], 'last': ['purnomo']}, 'job': ['Fresh Graduate'], 'age': [22]}

### methods in dictioneries

In [9]:
dict_age1={"fariz":22,"risyad":25,"dian":51,"heri":53}
print(dict_age1.keys())#meythode menampilkan keys
print(dict_age1.values())#menampilkan values dari setiap keys
print(dict_age1.items())#menampilkan seluruh komponen
print(dict_age1.get("fariz"))#methode untuk menampilkan value dari suatu key
print(db["nama"].get("first"))#cara menampilkan value dari nested list
print(db["nama"]["first"])#cara menampilkan value dari nested list

dict_keys(['fariz', 'risyad', 'dian', 'heri'])
dict_values([22, 25, 51, 53])
dict_items([('fariz', 22), ('risyad', 25), ('dian', 51), ('heri', 53)])
22
['Fariz', 'risyad']
['Fariz', 'risyad']

In [10]:
#creating a new dictionary yang melihat kondisinya
my_dictio={"java":100,"python":112,"c":11}

#list out keys and values seperately
key_list=list(my_dictio.keys())
val_list=list(my_dictio.values())

print("ini adalah key",key_list)
print("ini adalah val",val_list)

print(key_list[val_list.index(100)]) #ngecek ini 100 ada dimana
print(key_list[val_list.index(112)]) #ngecek ini 112 ada dimana
  
# one-liner 
print(list(my_dictio.keys())[list(my_dictio.values()).index(112)])

ini adalah key ['java', 'python', 'c']
ini adalah val [100, 112, 11]
java
python
python

In [11]:
dict_age1={"muhyi":24,"alfa":22,"baron":25,"lucas":23}
print(dict_age1.pop("muhyi"))#method untuk remove keys

keys = ['muhyi','alfa']#nampilin dua nilai
print([dict_age1.get(key) for key in ["baron","alfa"]])

24
[25, 22]

### changing element inside dictionories

In [12]:
dict_age1={"muhyi":24,"alfa":22,"baron":25,"lucas":23}

In [13]:
print(dict_age1)

{'muhyi': 24, 'alfa': 22, 'baron': 25, 'lucas': 23}

In [14]:
dict_age1['lau']=27
print(dict_age1)

{'muhyi': 24, 'alfa': 22, 'baron': 25, 'lucas': 23, 'lau': 27}

In [15]:
dict_age1.update({'Lau':20,"yusran":[22,23]})#menambahkan key dan value lebih dari satu
print(dict_age1)

{'muhyi': 24, 'alfa': 22, 'baron': 25, 'lucas': 23, 'lau': 27, 'Lau': 20, 'yusran': [22, 23]}

In [16]:
dict_age1["yusran"].append(21)#method append bisa dipaje di dict, karena key nya berupa list
print(dict_age1)

{'muhyi': 24, 'alfa': 22, 'baron': 25, 'lucas': 23, 'lau': 27, 'Lau': 20, 'yusran': [22, 23, 21]}

In [17]:
dict_rahmah={"name":"rahmah",
            "age":26,
            "live":"bogor",
            "job":"wirausaha"}
print(dict_rahmah)

{'name': 'rahmah', 'age': 26, 'live': 'bogor', 'job': 'wirausaha'}

In [18]:
#mengganti nilai pada key 
dict_rahmah["age"]=25
dict_rahmah["live"]="jakarta"
print(dict_rahmah)

{'name': 'rahmah', 'age': 25, 'live': 'jakarta', 'job': 'wirausaha'}

### remove or delete suatu dictionari

In [19]:
dict_age1={"muhyi":24,"alfa":22,"baron":14}
del dict_age1["muhyi"]
dict_age1.clear()#bakal menghasilkan dict yg kosong
print(dict_age1)

{}

## Tuple

In [20]:
tuple1=1,2,3#tuple packing
print(tuple1)

Tuple1 = 1,2,3
print(Tuple1)

Tuple2 = (1,2,)
print(Tuple2)

Tuple3 = ()
print(Tuple3)
print(type(Tuple3))

(1, 2, 3)
(1, 2, 3)
(1, 2)
()
<class 'tuple'>

In [21]:
Tuple4 = tuple([1,2,3])#data list yang di conver menjadi tuple
print(Tuple4)
                
Tuple5 = tuple('abc')#tipe data string yang dikonvert menjadi tuple
print(Tuple5)
                
Tuple6 = tuple((1,2,3))#tuple di convert menjadi tuple juga
print(Tuple6)

(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)

In [22]:
t = (1, [0, "test"], { "a1" : True })
print(t[2]["a1"])#nilai yang a1 berapa
print(t[1][1])#menampilakn index kesati di dalam list yg posisinya index satu juga
t[1][1]="akan"#ngeganti test menjadi akan
print(t)
print(t[1][1])
print(t[1])
#t[0]="mark"#syntax ini gabisa soalnya nilainya tuple

True
test
(1, [0, 'akan'], {'a1': True})
akan
[0, 'akan']

In [23]:
#tuple inside tuple 
t = (1, [0, "test"], { "a1" : True }, (0,{ "test" : 5 },2))
print(t[3][1]["test"])#ngambil index tiga,terus index satu dan ngambil test

5

In [24]:
a = (1,2,3)
total=0
for number in range(len(a)):
    total = total+a[number]
print(total)

6

### sets

In [25]:
s = { 1, 3, 1, 2, 2, 3 }#gabisa duplicate
print(s) 
print(list(s)[2])

{1, 2, 3}
3

In [26]:
#set of mixed datatypes
my_set={1.0,"hello",(1,2,3)}#set tidak bisa memuat list dan dict di dalamnya
print(my_set)

{1.0, 'hello', (1, 2, 3)}

In [27]:
#filtering using set
newList = [ 1, 3, "test1", "test2" , 2, 3, "test1" ]; s = set(newList);
s=set(newList)#newlist yang tipe data list di konvert to set sehingga ketika di print hanya menampilkan unique value
print(s)
print(list(s)[2])

{1, 2, 3, 'test1', 'test2'}
3

In [28]:
#list comperhension
listNum = [ 1, 2, 3, 4, 5];
listNum = [item * 2 for item in listNum]; 
print(listNum);

[2, 4, 6, 8, 10]

In [29]:
a={}
print(type(a))

a=set()
print(type(a))

<class 'dict'>
<class 'set'>

In [30]:
# cara add elemen
my_set={1,3}
print(my_set)

my_set.add(2)#set itu sequence,add gak support list
print(my_set)

my_set.update([2,3,4])#menambahkan nilai pada set
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}

In [31]:
#list comprehension
def times2(num):
    x = num*2
    return x
listnum=[1,2,3,4,5]
listnum = [times2(item) for item in listnum]
print(listnum)

[2, 4, 6, 8, 10]

In [32]:
def timses(num):
    return num+2
numQ = [100,200,502]
numQ = [timses(item)for item in numQ]
print(numQ)

[102, 202, 504]

In [33]:
my_set={1,3,4,5,6}
print(my_set)

my_set.remove(6)#ngeremove elemen dari suatu set
print(my_set)

my_set.discard(4)#dapat digunakan untuk meremove elemen dari suatu set
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 4, 5}
{1, 3, 5}

In [34]:
my_set1=set("bogor")
print(my_set1)

{'o', 'b', 'g', 'r'}

In [35]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a|b)#union

{1, 2, 3, 4, 5, 6, 7, 8}

### lambda expression

In [36]:
def times2(num): return num*2
a= lambda num: num*2

#lambda tanpa nama function dan gaperlu return

In [37]:
#map
listNum = [ 1, 2, 3, 4, 5]
listNum = list(map(times2, listNum))
print(listNum)

[2, 4, 6, 8, 10]

In [38]:
#lambda
ListNum=[1,2,3,4,5,6]
list(map(lambda num : num*2,listnum))#map itu berfungsi untuk mengaplikasikan fungsi ato lambda ke iterable
#lambda dipakai ketika fungsi tidak terlalu kompleks
#lambda terdiri dua parameteryang pertama adalah fungsi /lambda dan parameter kedua adalah iterable

[4, 8, 12, 16, 20]

In [39]:
def kali10(num):
    return num*10
angka = [3,6,9]
for i in map(kali10,angka):
    print(i)

30
60
90

### filter

In [40]:
#kalau ini hasilnya boolean, tetapi yg di store angkanya
def bagi(num):
    return num%2==0

listNum=[1,4,5,6,7,8]
listNum = list(filter(bagi,listNum))
print(listNum)

[4, 6, 8]

In [41]:
ListNum1=[4,5,6,7,10,12]
x=list(filter(lambda num: num%2==1,ListNum1))
print(x)

[5, 7]

In [42]:
#methods for search
numList=[1,2,3]
input='x'

check1= input in numList
check2 = 'x' in ['x','y','z']
check3 = 'ks' in 'kurakas'

print(check1)
print(check2)
print(check3)

False
True
False

In [52]:
import pandas as pd

d={'asset' :[450,150,230],'revenue':[451,170,220]}
df = pd.DataFrame(d)
print(df)

   asset  revenue
0    450      451
1    150      170
2    230      220

In [53]:
df["profit"]=df.apply(lambda x: x['revenue']-x['asset'],axis=1)#apply memberi perlakuan yg sama ke tiap baris
df#axis=1 itu kolom
#apply untuk memberlakukan row

   asset  revenue  profit
0    450      451       1
1    150      170      20
2    230      220     -10

## quiz

In [54]:
#1
keys=['ten','twenty','thirty']
values=[10,20,30]

x= dict(zip(keys,values))
print(x)

{'ten': 10, 'twenty': 20, 'thirty': 30}

In [55]:
#2
sampleDict = {'class':{'student':{'name':'mike','marks':{'physics':70,'history':80}}}}
sampleDict["class"]['student']['marks']['history']

80

In [56]:
#3
sampleDictio={'a':100,'b':200,'c':300}
checks = 100 in sampleDictio.values()#buat ngakses nilai values nya ada gak ini 100
print(checks)

True

In [57]:
#4
sampleDict1={
    "name":"kelly",
    "age":25,
    "salary":8000,
    "city":"new york"
}
sampleDict1["location"] = sampleDict1.pop("city")
print(sampleDict1)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}

In [72]:
#5
sampleDict2={
    "physics":82,
    "math":65,
    "history":75
}
print(min(sampleDict2,key=sampleDict2.get))#cara mas alfa

math

In [59]:
#minimal function
key_min = min(sampleDict2.keys(), key=(lambda k: sampleDict2[k]))
print(key_min)

math

In [60]:
#mengganti 6500 jadi 8500
sampledict={
    "emp1":{"name":"john","salary":7500},
    "emp2":{"name":"emma","salary":8000},
    "emp3":{"name":"john","salary":6500}
}
sampledict["emp3"]["salary"] = 8500
print(sampledict)

{'emp1': {'name': 'john', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'john', 'salary': 8500}}

In [61]:
#dikuadratin dan pangkat tiga
#kuadrat
num = [1,2,3,4,5,6,7,8,9,10]

num = list(map(lambda angka: angka**2, num))
print(num)
#nah kalo maps itu angka ini

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
#cara pake pow
num = [1,2,3,4,5,6,7,8,9,10]

num = list(map(lambda angka: pow(angka,2), num))
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
num = [1,2,3,4,5,6,7,8,9,10]

num = list(map(lambda angka: angka**3, num))
print(num)
#filter itu untuk yg betul atau salah saja kalau untuk menyimpan hasil pakai map

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [69]:
#soal terakhir
s=[10,2,8,7,5,4,3,11,0,1]
s=list(filter(lambda angka: angka>=4, s))
print(s)
#soal kedua filter soalnya yang di case kedua itu dia kondisi, jadi resultnya true
#kalo maps iterasi angka yg dilooping angkanya,maps bukan untuk kondisi

[10, 8, 7, 5, 4, 11]