# for loop

In [1]:
#ini list
listItem = list(range(1,11,2))#bakal nge print kelipatan 2 dari 1, 11
print(listItem)#indexing dr python kan dr 0 makanya 11 gak di print 0123456789 10

[1, 3, 5, 7, 9]

In [2]:
for item in listItem:#ngakses nilai dari list item
    print(item)

1
3
5
7
9

In [9]:
listItem2 = list(range(11,0,-1))
print(listItem2)
for items in listItem2:
    print(items)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
11
10
9
8
7
6
5
4
3
2
1

In [14]:
#solve list
listItemSolve = list(range(1,11,1))
for itemx in listItemSolve:
    print('Nomor Urut',itemx)

Nomor Urut 1
Nomor Urut 2
Nomor Urut 3
Nomor Urut 4
Nomor Urut 5
Nomor Urut 6
Nomor Urut 7
Nomor Urut 8
Nomor Urut 9
Nomor Urut 10

In [16]:
y= 'nomor urut'
for ini in range(1,11):
    print(y+str(ini))

nomor urut1
nomor urut2
nomor urut3
nomor urut4
nomor urut5
nomor urut6
nomor urut7
nomor urut8
nomor urut9
nomor urut10

In [18]:
#solve it nomber 2
y = "nomor urut "
for itu in range(0,21,2):
    print(y + str(itu))

nomor urut0
nomor urut2
nomor urut4
nomor urut6
nomor urut8
nomor urut10
nomor urut12
nomor urut14
nomor urut16
nomor urut18
nomor urut20

In [20]:
#solve nomber 2
x = "nomor urut "
for eta in range(1,20,2):
    print(x + str(eta))

nomor urut 1
nomor urut 3
nomor urut 5
nomor urut 7
nomor urut 9
nomor urut 11
nomor urut 13
nomor urut 15
nomor urut 17
nomor urut 19

In [27]:
r = "nomor urut "
for etis in range(1,20,2):
    print(r+str(etis))

nomor urut 1
nomor urut 3
nomor urut 5
nomor urut 7
nomor urut 9
nomor urut 11
nomor urut 13
nomor urut 15
nomor urut 17
nomor urut 19

# nested loop

In [28]:
number = 15
for i in range(30):
    print(i)
    if i is number:
        print("nah ini 15")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
nah ini 15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [30]:
#ini keluar kalo udah ketemu angka 15
number = 15
for i in range(30):
    print(i)
    if i is number:
        print("nah ini 15")
        break

0
angkanya mana nih
1
angkanya mana nih
2
angkanya mana nih
3
angkanya mana nih
4
angkanya mana nih
5
angkanya mana nih
6
angkanya mana nih
7
angkanya mana nih
8
angkanya mana nih
9
angkanya mana nih
10
angkanya mana nih
11
angkanya mana nih
12
angkanya mana nih
13
angkanya mana nih
14
angkanya mana nih
15
nah ini 15

In [31]:
#ini keluar kalo udah ketemu angka 15 tapi nge print angkanya mana nih soalnya kan 15 belum ketemu sampe 15
number = 15
for i in range(30):
    print(i)
    if i is number:
        print("nah ini 15")
        break
    else:
        print("angkanya mana nih")

0
angkanya mana nih
1
angkanya mana nih
2
angkanya mana nih
3
angkanya mana nih
4
angkanya mana nih
5
angkanya mana nih
6
angkanya mana nih
7
angkanya mana nih
8
angkanya mana nih
9
angkanya mana nih
10
angkanya mana nih
11
angkanya mana nih
12
angkanya mana nih
13
angkanya mana nih
14
angkanya mana nih
15
nah ini 15

In [35]:
#loop in loop
for i in range (5):
    for j in range(5):
        print(1,end=' ')
    print('')
#jadi ini cara nge print nya per baris, bari index pertama dimasukin tuh nilainya 1 jebret langsung
#terus kalo udah menempuh sampe range lima pas print j, bikin newline

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [36]:
#bikin baris dulu 
for x in range(6):
    for y in range(2):
        print(":*", end = " ")
    print("")

:* :*
:* :*
:* :*
:* :*
:* :*
:* :*

In [37]:
#percobaan
k = 1
for i in range(3):
    for j in range(3):
        print(k,end = " ")
        k += 1
    print("")

1 2 3
4 5 6
7 8 9

In [53]:
k = 1
for i in range (4) :
    for j in range (4):
        print(k, end = ' ')
        k += 1
        
        if k == 10:
            print(k, end = "")
            break
    if k == 10:
        break
    print ('')

1 2 3 4
5 6 7 8
9 10

In [57]:
#for loop drawing * * * * *, kalo ini print nya sekalian beugh
z=" "
for i in range(0,5):
    z+=" x "
print(z)

  x  x  x  x  x

In [59]:
#cara kedua, kalo ini print nya sekalian
for i in range(5):
    print(end=' x ')

 x  x  x  x  x

In [61]:
#bikin segitiga setengah kalo ini ditambah dicetak, print nya gak sekalian
z=" "
for i in range(0,5):
    z = z + " x "
    print(z)

  x
  x  x
  x  x  x
  x  x  x  x
  x  x  x  x  x

In [67]:
z = ""
for itembet in range(0,5):
    if itembet < 4:# ini pertama di cek nah kasus ini tuh newline semua soalnya jumlahnya masih dibawah 5
        z += " * \n"
    else:
        z += " * "#kalo kondisi f gak terpenuhi masuk kesini
print(z)

 *
 *
 *
 *
 *

In [68]:
for item in range(5):#range 5 kebawah karena satu case dan newline
    print(end = " x \n")

 x
 x
 x
 x
 x

In [80]:
#solve halaman ke 20
z = ""
for itemkuy in range(5):#pas awal baris 0 cetak ruang kosong pake bintangterus balik ke itemnih
    for itemnih in range(5):#sampai pojok kanan atas terus bikin newline karna udh diluar range
        z +=" x "
    z+="\n"
print(z)

 x  x  x  x  x
 x  x  x  x  x
 x  x  x  x  x
 x  x  x  x  x
 x  x  x  x  x

In [81]:
#solve ke halaman 20 cara 2
for itemuy in range(5):
    for items1 in range(5):
        print(end=" * ")
    print("\n")

 *  *  *  *  *

 *  *  *  *  *

 *  *  *  *  *

 *  *  *  *  *

 *  *  *  *  *

In [84]:
#solve ke halaman 20 cara 3
z=''
for ino in range(5):
    for inj in range(5):
        z +=" x "
    if ino < 4:#ngecek nih barisnya kalo udh lewat 4 new space
        z+="\n"
    else:
        z+=""
print(z)

 x  x  x  x  x
 x  x  x  x  x
 x  x  x  x  x
 x  x  x  x  x
 x  x  x  x  x

In [115]:
for y in range(5):
    print(" x "*y)

 x
 x  x
 x  x  x
 x  x  x  x

In [113]:
z=""
for item in range(5):
    for items in range(0,item+1):
        z+=" * "
    z+="\n"
print(z)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [116]:
for i in range(5):
    for j in range(0,i+1):
        print(" * ", end = "")
    print("")

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [142]:
#solved 2
rows = "*"
for i in range(5,0,-1):#ini kan batesnya sampe 0 dari 5
    for j in range(0,i):#nah terus ini kan batesnya sampe 5 terus balik lagi batasnya jadi 4,karna ada -1
        print(rows,end = "")
    print()

*****
****
***
**
*

In [154]:
rows = "*"
for i in range(0,7):
    for j in range(0,5):
        if(j==0 or(i==6 and j>0)):
            print(rows,end="")
    print()

*
*
*
*
*
*
*****

In [158]:
for i in range(6):
    print("*")
for i in range(5):
    print("*",end="")

*
*
*
*
*
*
*****

In [157]:
for i in range(7):
    print("*")
    if i==6:
        for j in range(5):
            print("*", end = "")

*
*
*
*
*
*
*
*****

In [212]:
z=""
for row in range(0,7):
    for coloumn in range(0,7):
        if (coloumn==3 or(row==0 and coloumn >0 and coloumn<6)):
            z+="*"
        else:
            z+="i"
    z+="\n"
print(z)

i*****i
iii*iii
iii*iii
iii*iii
iii*iii
iii*iii
iii*iii

In [195]:
for row in range(6):
    for col in range(5):
        if  col == 2 or (row == 0 and col != 2):
            print("L",end="")
        else:
            print(end =" ")
    print()

LLLLL
  L
  L
  L
  L
  L

In [215]:
z=""
for row in range(0,7):
    for coloumn in range(0,7):
        if (coloumn==3 or(row==0 and coloumn >0 and coloumn<6)):
            z+="*"
        else:
            z+=" "
    z+="\n"
print(z)

 *****
   *
   *
   *
   *
   *
   *

In [260]:
z=""
for row in range(0,7):
    for coloumn in range(0,7):
        if (((coloumn == 1 or coloumn == 5) and row != 6) or (row == 6 and coloumn > 1 and coloumn < 5)):  
            z=z+"*"
        else:
            z=z+" "
    z=z+"\n"
print(z)

 *   *
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [255]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 6) or (row == 6 and column > 1 and column < 5)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 *   *
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [243]:
z = ''
for row in range(7):
    for column in range(7):
        if(column == 3 or (row == 0 and column > 0 and column < 6)):
            z += '*'
        else :
            z += ' '
    z += '\n'
print(z)

 *****
   *
   *
   *
   *
   *
   *

In [280]:
z=""
#row != 0 buat ngapus bintang di index baris 0
#coloumn >1 dan coloumn <5 itu buat bintang di tengahnya itu, row 5 itu buat ngeprint yg di index itu aja
#syarat ketiga itu buat yg tengahnya, nah diatur tuh dimunculin di kolom mana aja

for row in range(0,7):
    for coloumn in range(0,7):
        if (((coloumn == 1 or coloumn == 5) and row != 0) or (row == 0 and coloumn > 1 and coloumn < 5) or (row ==3 and coloumn>1 and coloumn <5)):  
            z=z+"*"
        else:
            z=z+" "
    z=z+"\n"
print(z)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [317]:
z=""
for row in range(0,7):
    for coloumn in range(0,7):
        if((coloumn ==1 or coloumn ==5)and(row !=0 and row !=6)or ((row==0 or row==6) and coloumn>=1 and coloumn <5)):
            z=z+"*"
        else:
            z=z+" "
    z=z+"\n"
print(z)

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [344]:
#penjelasan atas
#oke pertama kita nge print coloum 1 dan 5 untuk bagian bintangnya "(coloumn ==1 or coloumn ==5)"
#kedua "and(row !=0 and row !=6)" ini buat nentuin barisan mana yg diapus
#coloumn>=1 and coloumn <5 buat ngeprint yg di tengahnya itu bagian atas dan bawahnya biar ada D
#(row==0 or row==6) ini dipilih mau row mana aja yg di print

 ****


 ****

## quiz ngitung

In [403]:
hasil=0
for i in range(0,5):
    masukin = int(input("masukin angka "))
    hasil+=masukin
jumlah=hasil/5
print(jumlah)

masukin angka 5
masukin angka 2
masukin angka 2
masukin angka 2
masukin angka 2
2.6

In [333]:
#quiz ngitung modifikasi
hasil=0
j = int(input("angkanya nih"))
for i in range(0,j):
    masukin = int(input("masukin angka "))
    hasil+=masukin
jumlah=hasil/j
print(jumlah)

angkanya nih4
masukin angka 1
masukin angka 2
masukin angka 3
masukin angka 4
2.5

In [345]:
#quiz kalo make list
n = int(input("masukkan angka"))
data = []#define list

for i in range(n):
    listnum=int(input(f"masukkan bilangan ke{i+1} :"))
    data.append(listnum)#buat nambahin angka ke belakangnya kalo gak ada ini gamasuk input nya
    rata=sum(data)/n
print(rata)

masukkan angka5
masukkan bilangan ke1 :1
masukkan bilangan ke2 :2
masukkan bilangan ke3 :3
masukkan bilangan ke4 :4
masukkan bilangan ke5 :5
3.0

In [348]:
#solve it 1
for i in range(5,0,-1):
    for j in range(0,i):
        print(" * " ,end="")
    print()

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [369]:
#solve it 2
for i in range(5,0,-1):
    for j in range(0,i):
        print(" * " ,end="")
    print()

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [394]:
#solve solve 3