In [1]:
#modul 1 tgl 29 juli
a = 5
print(a)

5

In [2]:
#variabel 
#variabel digunakan ketika kita menggunakan berulang kali
#integer angka tanpa koma
#float angka yang ada koma nya
#boolean true and false
nama = "andi"#string
print(nama)

usia = 22#integer
usia = 32#yang ke print 32 karna mendeklarasikan yang baru karna python itu run nya baris per baris
print(usia)

jomblo = True#boolean
print(jomblo)

umur = 25

andi
32
True

In [3]:
x,y,z =1,2,3
print(x)
print(y)
print(z)

1
2
3

In [4]:
x=y=z =10
print(x)
print(y)
print(z)

10
10
10

In [5]:
x = "cool"#tanda tambah cetak variabel misalnya punya string
print('python is ' + x)

python is cool

In [6]:
x = "python is cool "
y = 5
z = x + str(y)
print(z)

python is cool 5

In [7]:
y='python '
z='awesome'
g=y+z
print(g)

python awesome

In [8]:
nama, usia,jomblo ="andi",33,True
print(nama)
print(usia)
print(jomblo)

andi
33
True

In [9]:
nama = "fariz"
usia=22
jomblo=True
print(type(nama))
print(type(usia))
print(type(jomblo))

<class 'str'>
<class 'int'>
<class 'bool'>

## input

In [10]:
#input
#tipe data menggunakan input adalah string
name = input("whats your name ? : ")
print(name)

whats your name ? : fariz
fariz

In [11]:
print(type(name))

<class 'str'>

In [12]:
nomor = input()
print(nomor)

22
22

In [13]:
print(type(nomor))

<class 'str'>

In [14]:
#numeric
number = int(input("whats your number ? : "))
print(number)

whats your number ? : 2
2

In [15]:
print(type(number))

<class 'int'>

In [16]:
#float
angka = float(input("whats your number ? : "))
print(angka)

whats your number ? : 56.0
56.0

In [17]:
print(type(angka))

<class 'float'>

## solved it

In [18]:
your_name = input("Nama Kamu ? :")
your_age = int(input("Umur Kamu ? :"))
your_gender = input("Kelamin Kamu ? :")
your_job = input("Pekerjaan Kamu ? :")
print("Nama : " + your_name)
print("Umur : ", your_age)#kalo koma bisa apa aja
print("Kelamin : " + your_gender)
print("Pekerjaan : " + your_job)

Nama Kamu ? :fariz
Umur Kamu ? :22
Kelamin Kamu ? :pria
Pekerjaan Kamu ? :mahasiswa
Nama : fariz
Umur :  22
Kelamin : pria
Pekerjaan : mahasiswa

## materi

In [19]:
#numbers and arithmetic operators
usiaAndi = 40
usiaBudi = 20
print(usiaAndi * usiaBudi)
print(usiaAndi / usiaBudi)
print(usiaAndi + usiaBudi)
print(usiaAndi - usiaBudi)
print(usiaAndi % usiaBudi)#sisa bagi
print(usiaAndi ** 2)#pangkat

800
2.0
60
20
0
1600

In [20]:
usiaAndi += 3 #cara simple penambahan
print(usiaAndi)

43

In [21]:
usiaAndi += 3
print(usiaAndi)

46

In [22]:
usiaPur = 20
usiaPur *= 4
print(usiaPur)

80

In [23]:
#math module
import math

In [24]:
print(math.pi)#ini nilai pi

3.141592653589793

In [25]:
print(math.fabs(-4.7))#ini yg nge absolut in nilai

4.7

In [26]:
print(math.pow(8,2))#perpangkatan

64.0

In [ ]:
print(math.pow(8,1/2))#bisa jadi akar juga soalnya ini pangkat kan kalo 1/2 jadi akar

In [27]:
print(math.sqrt(64))#akar

8.0

In [29]:
#round ceil and floor
print(round(4.7))#dibelutin ke atas kalo diatas 5, kalo dibawah 5 dibuletin kebawah
print(round(4.4))#kalau basis depannya genap kebawah, kalau ganjil ke atas
print(math.floor(4.7))#pembulatan kebawa mau berapapun
print(math.ceil((4.4)))#pokonya lebih 4 dikit langsung dibuletin keatas

5
4
4
5

In [34]:
#penyederhanaan berapa banyak angka dibelakang koma,diatur dua angka dibelakang koma
#round bisa digunakan berapa banyak angka desimal dibelakang koma
round(2.6264932432,2)

2.63

In [39]:
#string
h = "halo purnomo"
print(len(h))#ngehitung banyak karakter
print(h.index("purnomo"))#ngecek purnomo ini ada di urutan keberapa
print(h.split(' '))#split pakai spasi
print(h.lower())#semua text dijadiin lower
print(h.upper())#semua text dijadiin upper
print(h.capitalize())#paling depan kapital

12
5
['halo purnomo']
halo purnomo
HALO PURNOMO
Halo purnomo

In [42]:
print(h.title())#h dan d nya gede

Halo Purnomo

In [46]:
singleQuotes = 'single quotes'
doubleQuotes = "double qoutes"
combineQuotes = "wrap lot's of other quotes"

print(singleQuotes)
print(doubleQuotes)
print(combineQuotes)

single quotes
double qoutes
wrap lot's of other quotes

In [51]:
#string indexing
text = "I'm Baron, nice to meet you"
print(text[1])
print(text[2:])#index dua sampai selesai
print(text[:4])#dari awal sampai 4
print(text[2:5])#dari 2 sampai 5
print(text[:])#semua index diambil

'
m Baron, nice to meet you
I'm
m B
I'm Baron, nice to meet you

In [54]:
#convert strings to numbers
angka1 = input("Masuikkan Angka 1 : ")
angka2 =  input("Masukkan Angka 2 : ")
print(angka1 + angka2)#ini sama aja ngegabungin string, nilainya masih string
print(int(angka1) + int(angka2))#merubah nilai jadi int
angka1 = float(angka1)#merubah jadi float
angka2 = float(angka2)#merubah nilai jadi float

print(angka1 + angka2)#penambahan ketika udah jadi float

Masuikkan Angka 1 : 20
Masukkan Angka 2 : 1
201
21
21.0

In [58]:
#adding string
usia = 22 
siapa = "andi"

print(usia + usia)
print(siapa + " " +siapa)
print(siapa + " "+str(usia))

44
andi andi
andi 22

## solve it

In [60]:
#number 1
x = 4
y = 3
z = 2
t = y*z
u = t+x
i = u/(x*y)
print(math.pow(i,z))

0.6944444444444445

In [77]:
#number1 kak dinda
x,y,z = 4,3,2
w = math.pow((x+(y*z))/(x*y),z)
print(round(w,2))

0.69

In [82]:
#number2
o = int(input("Silahkan masukkan angka berapapun : "))
hasil = print("Kuadrat dari", o ,"=", math.pow(o,2))

Silahkan masukkan angka berapapun : 4
Kuadrat dari 4 = 16.0

In [90]:
#number3
perhitungan_minggu = 30/4
hari = 485
tahun = hari/360
bulan = hari/30
minggu = hari/perhitungan_minggu
print(round(tahun,1), " tahun")
print(round(bulan,1), " bulan")
print(round(minggu,1), " minggu")
print(hari," hari")

1.3  tahun
16.2  bulan
64.7  minggu
485

In [114]:
#number 3 hasilnya 1 xxx
hari =485
tahun = math.floor(hari/360)
bulan = math.floor(hari/30 - tahun*12)
print(tahun, 'tahun', bulan, 'bulan',hari%12, "hari")

1 tahun 4 bulan 5 hari

In [103]:
#number 4
jmlh_keduanya = 49
usiaAndi = ((2/(2+5))*jmlh_keduanya)
usiaBudi = ((5/(2+5))*jmlh_keduanya)
usiaAndi += 2
usiaBudi += 2
print("usia Andi : ",usiaAndi)
print("usia Budi : ",usiaBudi)

usia Andi :  16.0
usia Budi :  37.0

In [123]:
#number 5
kal = input("Masukkan Kalimat : ")
kal.count('a')

Masukkan Kalimat : haha

2

In [126]:
kal = input()
kata = input()

count=0
for i in range(len(kal)):
    if(kal[i]==kata):#ngecek nih si kata yang dimasukin sudah cocok belum 
        count += 1#looping penambahan
print("kata ",kata, "jumlahnya = ", count)

fariz maulana
a
kata  a jumlahnya =  4

In [132]:
#number 6
jarak_mobilAB = float(input("masukkan jarak antara mobil a dan b "))
kec_a = float(input("masukkan kecepatan a "))
kec_b = float(input("masukkan kecepatan b "))
hour_start = 9
t = jarak_mobilAB/(kec_a + kec_b)
result = hour_start + t
print(result)

masukkan jarak antara mobil a dan b 120
masukkan kecepatan a 60
masukkan kecepatan b 40
60.0
10.2

In [139]:
jarak_mobilAB = float(input("masukkan jarak antara mobil a dan b "))
kec_a = float(input("masukkan kecepatan a "))
kec_b = float(input("masukkan kecepatan b "))
jam = float(input("berangkat "))
t = jarak_mobilAB/(kec_a + kec_b)
tbjam =  math.floor(t)
tb = float((t-tbjam)*60*0.010)
tabrakan = jam + tbjam +tb
print(tabrakan)

masukkan jarak antara mobil a dan b 120
masukkan kecepatan a 60
masukkan kecepatan b 40
berangkat 9
10.12

In [145]:
#menghitunh keliling persegi panjang
p = int(input("masukkan panjang : "))
l = int(input("masukkan lebar : "))
k = 2*(p+l)
print(k)

masukkan panjang : 2
masukkan lebar : 2
8

In [148]:
## menghitunh keliling persegi panjang
panjang = float(input("\nMasukan Panjang: "))
lebar = float(input("Masukan Lebar: "))

keliling = 2 * (panjang+lebar)

print("Keliling Persegi Panjang\t:",keliling)

Masukan Panjang: 4.2
Masukan Lebar: 2.1
Keliling Persegi Panjang	: 12.600000000000001