# List

In [3]:
coba = [1,[2,"three"],4.5]
print(coba)

[1, [2, 'three'], 4.5]

In [4]:
mobil = ["pajero","xenia","avanza"]#punya tiga elemen
print(mobil)

['pajero', 'xenia', 'avanza']

In [5]:
df = ['mobil','transmision','fuel','distance','year','region']
print(df)

['mobil', 'transmision', 'fuel', 'distance', 'year', 'region']

In [6]:
print(mobil[1])

xenia

# akses list menggunakan looping

In [7]:
buah = ["jeruk", "mangga","apel"]#variabel buah berisi list yg ada 3 elemen

for item in buah:#sebenernya tampilan ini udah keluar dari list
    print(item)

jeruk
mangga
apel

In [9]:
my_list = []#empty list ini berguna kalau nanti ada append
print(my_list)

my_list1=[1,2,3]#list integer
print(my_list1)

my_list2=[1,"string",3.4,True]#list of mix data
print(my_list2)

my_list3 = ["mouse",[8,4,6],["a"]]#list dapat memuat list didalamnya
print(my_list3)

[]
[1, 2, 3]
[1, 'string', 3.4, True]
['mouse', [8, 4, 6], ['a']]

# access element

In [11]:
#akses mylist2 nilai true
my_list2[3]

True

In [15]:
#akses yang buah
print(buah[1:])#ngakses nilai elemen 1 sampai selesai
print(buah[:3])#ngakses seluruh sampai list kedua
print(buah[2:4])#untuk mengakses element yang mulai dari 2

['mangga', 'apel']
['jeruk', 'mangga', 'apel']
['apel']

In [17]:
#ngambil elemen
my_list3[0]
#akses elemen dengan index pada nested list
my_list3[1][0]#untuk akses elemen ke 1 yaitu[8,4,6]serta index ke 0 di dalam [8,4,6]

8

In [19]:
len(my_list3)#ngakses jumlah yang ada di dalam list

3

In [22]:
my_list3[1][0:]

[8, 4, 6]

In [23]:
len(my_list3[1])#untuk ngakses panjang list yg ada di dalam list

3

In [28]:
#akses element dengan negative indexing
my_listx=["l","u","i","g","i"]
print(my_listx[-1])#akses dimulai dari 1 paling belakang
print(my_listx[-5])

i
l

In [25]:
buah_asik = ["jeruk","mangga","nangka","kelapa"]

In [26]:
buah_asik[1] = 'rujak'#ganti satu nilai

In [27]:
print(buah_asik)

['jeruk', 'rujak', 'nangka', 'kelapa']

In [31]:
#ganti dua elemen
buah_asik = ["jeruk","mangga","nangka","kelapa"]
buah_asik[2:4] = ["durian","manggis"]#ganti dua nilai

In [32]:
print(buah_asik)

['jeruk', 'mangga', 'durian', 'manggis']

In [36]:
buah_asik[0:1]

['jeruk']

In [38]:
#ngakses nilai jeruk dan durian
buah_asik[0],buah_asik[2] = ["srikaya","duku"]

In [39]:
print(buah_asik)

['srikaya', 'mangga', 'duku', 'manggis']

In [40]:
buah_asik[::2]#ngakses nilai jeruk dan apel

['jeruk', 'apel']

In [42]:
buah_asik[::2] = ["jeruk","apel"]#ganti elemen ke 0 dan 2

In [43]:
print(buah_asik)

['jeruk', 'mangga', 'apel', 'manggis']

In [45]:
buah_asik[::3]#:: ini tuh kaya nyekip sampe elemen yang kita ambil

['jeruk', 'manggis']

In [46]:
buah_asik[1::]

['mangga', 'apel', 'manggis']

# list append and pop

In [52]:
buah_baru1=["jeruk","nanas","apel","mangga"]

buah_baru1.append("manggis")#append cuman bisa menambahkan di akhir dan hanya satu argumen
print(buah_baru1)

['jeruk', 'nanas', 'apel', 'mangga', 'manggis']

In [53]:
buah_baru1.pop()#ngeremove nilai dari yang paling belakang

'manggis'

In [54]:
print(buah_baru1)

['jeruk', 'nanas', 'apel', 'mangga']

In [55]:
buah_baru1.extend(["duren","manggis"])#menambah elemen lebih dari 1, dan letaknya di paling terakhir

In [56]:
print(buah_baru1)

['jeruk', 'nanas', 'apel', 'mangga', 'duren', 'manggis']

In [57]:
buah_baru1.pop(0)#buat ngehapus indeks tertentu

'jeruk'

In [58]:
print(buah_baru1)

['nanas', 'apel', 'mangga', 'duren', 'manggis']

In [59]:
buah_baru1.append(["kelapa","duren"])#append juga bisa menambahkan list di dalam list
print(buah_baru1)

['nanas', 'apel', 'mangga', 'duren', 'manggis', ['kelapa', 'duren']]

In [64]:
odd= [1,2,3]
odd = odd+[7,9,11]#cara kerja pake tambah bakal menghasilkan yang sama kaya extend

In [65]:
print(odd)

[1, 2, 3, 7, 9, 11]

In [66]:
#penambahan list word
word = ["n","i","k"]
word = ["a"] + word
print(word)

['a', 'n', 'i', 'k']

In [67]:
word = [100] + word
print(word)

[100, 'a', 'n', 'i', 'k']

In [68]:
#buat nambah extend yang lebih dari dua var, pake tanda tambah
word.extend(["a"]+["b"]+["c"])

In [69]:
print(word)

[100, 'a', 'n', 'i', 'k', 'a', 'b', 'c']

In [70]:
print([1]*3)

[1, 1, 1]

In [73]:
print(odd)

[1, 2, 3, 7, 9, 11]

In [74]:
#menambahkan elemen di dalam list
odd.insert(1,3)#parameter pertama (1)menunjukan di index berapa nilai tersebut pengen ditambah
#parameter kedua itu nilainya

In [75]:
print(odd)

[1, 3, 2, 3, 7, 9, 11]

In [77]:
#nambahin list di parameter
odd.insert(2,[3,4])

In [78]:
print(odd)

[1, 3, [3, 4], 2, 3, 7, 9, 11]

In [79]:
x= [1,3,9]
x[2:2] = [5,7]#masukin nilai 5,7 di index kedua, index nya itu pas 2:2
print(x)

[1, 3, 5, 7, 9]

In [80]:
#ngedelet elemen dr list
list_new= ['p','r','o','m']
del list_new[2]
print(list_new)

['p', 'r', 'm']

In [81]:
#delete multiple item
del list_new[0:2]#2 nya minus 1
print(list_new)

['m']

In [ ]:
del list_new#ngehapus variabel

In [82]:
list_uhuy = ['p','u','r','n','o','m','o']
list_uhuy.remove("p")#remove menggunakan nilai dr list
print(list_uhuy)

['u', 'r', 'n', 'o', 'm', 'o']

In [83]:
list_uhuy.pop(0)#menghapus dengan masukan nilai indexnya
print(list_uhuy)

['r', 'n', 'o', 'm', 'o']

In [86]:
list_uhuy.clear()#ngehapus semua element

In [87]:
print(list_uhuy)

[]

In [88]:
huruf=['a','b','c','d','e','a']
huruf.remove('a')
print(huruf)

['b', 'c', 'd', 'e', 'a']

In [89]:
huruf.insert(0,"a")

In [90]:
print(huruf)

['a', 'b', 'c', 'd', 'e', 'a']

In [91]:
#ngeapus make loop
while "a" in huruf:
    while "b" in huruf:
        huruf.remove("b")
    huruf.remove("a")

In [92]:
print(huruf)

['c', 'd', 'e']

In [94]:
#ngeapus pakai for
nama_nama = ["teguh","sekar",'natval','adib']
for nama in nama_nama:
    if nama =="teguh":
        nama_nama.remove("teguh")
print(nama_nama)

['sekar', 'natval', 'adib']

In [98]:
#quiz fariz
list_mencoba = [1,2,3,4,5,6,1,2,3,3]
print(list_mencoba)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 3]

In [99]:
#nyoba count kalo lebih dr 2 diapus
for i in list_mencoba:
    if list_mencoba.count(i)>2:
        while i in list_mencoba:
            list_mencoba.remove(i)
print(list_mencoba)

[1, 2, 4, 5, 6, 1, 2]

# list comperhasion

In [100]:
#list comperhasion
alist = [i for i in range(5)]#jalanin loop nya di dalem list
print(alist)

[0, 1, 2, 3, 4]

In [101]:
for i in range(5):
    print(i)

0
1
2
3
4

In [103]:
blist = [1,2,3,4,5]
yourlist = [item ** 2 for item in blist]
print(yourlist)

[1, 4, 9, 16, 25]

In [105]:
clist = [5,2,1,4,20]#ngeksekusi yang gak abis dibagi dua aja
shitlist = [item * 2 for item in clist if item%2==1]
print(shitlist)

[10, 2]

In [106]:
alist = [4,2,8,6,5]
blist = [num*2 
         for num in alist 
         if num%2==1]
print(blist)

[10]

# code quiz

In [108]:
#tambahkan nilai 7000 setelah angka 6000
list1x =[10,20,[300,400,[5000,6000],500],30,40]
print(list1x)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [140]:
list1x[2][2].append(7000)#masukin 2 di depan karena 300,400 itu di index dua, terus itung lagi
#5000,6000 itu dimana, ternyata di 2, yaudah, pake append buat ditambahin di belakang

In [163]:
#tambahlan nested list dengan sublist h,i,j
listalfay = ['a','b',['c',['d','e',['f','g'],'k'],'l'],'m','n']
print(listalfay)

['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

In [164]:
listalfay[2][1][2].extend(["h","i","j"])

In [165]:
print(listalfay)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [112]:
#pangkat 3 nilai pada list
xlist = [1,2,3,4,5,6,7]

In [113]:
hasillist = [item**3 for item in xlist]

In [114]:
print(hasillist)

[1, 8, 27, 64, 125, 216, 343]

In [115]:
#sum all the item list in a list
sum_list = [1,2,-8]

In [134]:
total=0
for ele in range(0,len(sum_list)):
    total = total+sum_list[ele]

In [135]:
print(total)

-5

In [120]:
#menghitung rata rata
cal_average = [18,25,3,41,5]

In [138]:
totals = 0
for elemen in range(0,len(cal_average)):
    totals=totals+cal_average[elemen]
    hasil=totals/len(cal_average)

In [139]:
print(hasil)

18.4

In [166]:
#solve it 1
xy = [40,100,1,5,25,10]
print(xy)

[40, 100, 1, 5, 25, 10]

In [172]:
for elemente in range(len(xy)):
    for ini in range(elemente+1,len(xy)):
        if xy[elemente]>xy[ini]:
            xy[elemente],xy[ini]=xy[ini],xy[elemente]

In [173]:
print(xy)

[1, 5, 10, 25, 40, 100]

In [174]:
4 in xy

False

In [176]:
nama="fariz purnomo"
print (nama[1])

a

In [180]:
nama = ["widodo",1,2,3]

In [183]:
data_user = [
    {"nik": 5116100133,"nama":"fariz"},
    {"nik": 5116100140,"nama":"alam"}
]

In [187]:
data_user[1]

{'nik': 5116100140, 'nama': 'alam'}

In [188]:
data_user[1]['nama']

'alam'

In [189]:
data3= nama +data_user

In [190]:
print(data3)

['widodo', 1, 2, 3, {'nik': 5116100133, 'nama': 'fariz'}, {'nik': 5116100140, 'nama': 'alam'}]

In [192]:
nama*2

['widodo', 1, 2, 3, 'widodo', 1, 2, 3]

In [193]:
for elemens in nama:
    print(f"namanya itu {elemens}")

namanya itu widodo
namanya itu 1
namanya itu 2
namanya itu 3

In [194]:
nama

['widodo', 1, 2, 3]

In [195]:
data_nama=nama.pop(2)

In [196]:
data_nama

2

In [207]:
data_user

[{'nik': 5116100133, 'nama': 'fariz'}, {'nik': 5116100140, 'nama': 'alam'}]

In [ ]:
import time