In [2]:
!pip install luwiji

Collecting luwiji
  Downloading luwiji-1.1.8.tar.gz (40.3 MB)
     |████████████████████████████████| 40.3 MB 84 kB/s  eta 0:00:01
Requirement already satisfied: numpy in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (1.15.4)
Requirement already satisfied: scipy in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (1.1.0)
Requirement already satisfied: pandas in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (0.23.0)
Requirement already satisfied: scikit-learn in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (0.19.1)
Requirement already satisfied: matplotlib in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (3.2.2)
Requirement already satisfied: ipywidgets in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (7.2.1)
Collecting jcopml
  Downloading jcopml-1.1.10.tar.gz (20 kB)
Requirement already satisfied: pillow in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (5.4.1)
Requirement already satisfied: networkx in /Users/risyad/anaconda3/lib/python3.6/site-packages (from luwiji) (2.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from pandas->luwiji) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/risyad/anaconda3/lib/python3.6/site-packages (from pandas->luwiji) (2018.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from matplotlib->luwiji) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from matplotlib->luwiji) (2.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from matplotlib->luwiji) (0.10.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipywidgets->luwiji) (4.8.2)
Requirement already satisfied: traitlets>=4.3.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipywidgets->luwiji) (4.3.2)
Requirement already satisfied: nbformat>=4.2.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipywidgets->luwiji) (4.4.0)
Requirement already satisfied: widgetsnbextension~=3.2.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipywidgets->luwiji) (3.2.1)
Requirement already satisfied: ipython>=4.0.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipywidgets->luwiji) (6.4.0)
Requirement already satisfied: seaborn in /Users/risyad/anaconda3/lib/python3.6/site-packages (from jcopml->luwiji) (0.11.0)
Collecting scikit-optimize
  Downloading scikit_optimize-0.8.1-py2.py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 2.5 MB/s ta 0:00:01
Requirement already satisfied: statsmodels in /Users/risyad/anaconda3/lib/python3.6/site-packages (from jcopml->luwiji) (0.9.0)
Requirement already satisfied: decorator>=4.1.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from networkx->luwiji) (4.3.0)
Requirement already satisfied: six>=1.5 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas->luwiji) (1.11.0)
Requirement already satisfied: setuptools in /Users/risyad/anaconda3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->luwiji) (39.1.0)
Requirement already satisfied: jupyter_client in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipykernel>=4.5.1->ipywidgets->luwiji) (5.2.3)
Requirement already satisfied: tornado>=4.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipykernel>=4.5.1->ipywidgets->luwiji) (5.0.2)
Requirement already satisfied: ipython_genutils in /Users/risyad/anaconda3/lib/python3.6/site-packages (from traitlets>=4.3.1->ipywidgets->luwiji) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2.0->ipywidgets->luwiji) (2.6.0)
Requirement already satisfied: jupyter_core in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbformat>=4.2.0->ipywidgets->luwiji) (4.4.0)
Requirement already satisfied: notebook>=4.4.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from widgetsnbextension~=3.2.0->ipywidgets->luwiji) (5.5.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (1.0.15)
Requirement already satisfied: jedi>=0.10 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (0.12.0)
Requirement already satisfied: pygments in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (2.2.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (4.5.0)
Requirement already satisfied: pickleshare in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (0.8.1)
Requirement already satisfied: backcall in /Users/risyad/anaconda3/lib/python3.6/site-packages (from ipython>=4.0.0->ipywidgets->luwiji) (0.1.0)
Collecting joblib>=0.11
  Downloading joblib-0.17.0-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 2.8 MB/s eta 0:00:01
Collecting pyaml>=16.9
  Downloading pyaml-20.4.0-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: pyzmq>=13 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from jupyter_client->ipykernel>=4.5.1->ipywidgets->luwiji) (17.0.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (0.8.1)
Requirement already satisfied: nbconvert in /Users/risyad/anaconda3/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (5.3.1)
Requirement already satisfied: Send2Trash in /Users/risyad/anaconda3/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (1.5.0)
Requirement already satisfied: jinja2 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (2.10)
Requirement already satisfied: wcwidth in /Users/risyad/anaconda3/lib/python3.6/site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=4.0.0->ipywidgets->luwiji) (0.1.7)
Requirement already satisfied: parso>=0.2.0 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from jedi>=0.10->ipython>=4.0.0->ipywidgets->luwiji) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0->ipywidgets->luwiji) (0.5.2)
Requirement already satisfied: PyYAML in /Users/risyad/anaconda3/lib/python3.6/site-packages (from pyaml>=16.9->scikit-optimize->jcopml->luwiji) (3.12)
Requirement already satisfied: mistune>=0.7.4 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (0.8.3)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (0.2.3)
Requirement already satisfied: bleach in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (2.1.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (1.4.2)
Requirement already satisfied: testpath in /Users/risyad/anaconda3/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (0.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/risyad/anaconda3/lib/python3.6/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (1.0)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in /Users/risyad/anaconda3/lib/python3.6/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (1.0.1)

Requirement already satisfied: webencodings in /Users/risyad/anaconda3/lib/python3.6/site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets->luwiji) (0.5.1)
Building wheels for collected packages: luwiji, jcopml
  Building wheel for luwiji (setup.py) ... done
  Created wheel for luwiji: filename=luwiji-1.1.8-py2.py3-none-any.whl size=40371113 sha256=aec8a96b61ca63a1046a21d49843ded7756fdd3a6cd634e92205257c14465a53
  Stored in directory: /Users/risyad/Library/Caches/pip/wheels/35/fd/95/d7f14daac88d4c21e60e8fb69607c1835bc4eba255214b71a1
  Building wheel for jcopml (setup.py) ... done
  Created wheel for jcopml: filename=jcopml-1.1.10-py2.py3-none-any.whl size=33235 sha256=744296c859209e5375b46005c59a1bfd05c39147cb9eb514626d81dfe1626af5
  Stored in directory: /Users/risyad/Library/Caches/pip/wheels/a7/11/6b/944557d9e717f9bbd38abb1cc74fa73e956dd2350d0a25537f
Successfully built luwiji jcopml
ERROR: scikit-optimize 0.8.1 has requirement scikit-learn>=0.20.0, but you'll have scikit-learn 0.19.1 which is incompatible.
Installing collected packages: joblib, pyaml, scikit-optimize, jcopml, luwiji
Successfully installed jcopml-1.1.10 joblib-0.17.0 luwiji-1.1.8 pyaml-20.4.0 scikit-optimize-0.8.1
WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the '/Users/risyad/anaconda3/bin/python -m pip install --upgrade pip' command.

In [10]:
!pip install update scikit-learn

Collecting update
  Downloading update-0.0.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: scikit-learn in /Users/risyad/anaconda3/lib/python3.6/site-packages (0.19.1)
Collecting style==1.1.0
  Downloading style-1.1.0-py2.py3-none-any.whl (6.4 kB)
Installing collected packages: style, update
Successfully installed style-1.1.0 update-0.0.1
WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the '/Users/risyad/anaconda3/bin/python -m pip install --upgrade pip' command.

# feature scalling
- tujuannya untuk menyamakan skala antar features, nanti pengaruhnya ke coeficient

In [ ]:
standar scaller
minmax scaller
robust scaller

-- untuk lebih mendaoatkan insight koefisien
-- scalling berguna juga untuk algoritma yang berbasis distance - jarak

tapi
-- scaling tidak berpengaruh jika kita menggunakan algoritma berbasis tree - pohon

-- mendapatkan evaluation matrix untuk testing sebaik mungkin
- error sekecil mungkin
- gradient descent

## scalling

standard scaler:
- data harus terdistribusi normal
- proses nya mengubah nilai mean menjadi 0
- megnubah standar deviasi menjadi 1

robust scaler
- mengubah nilai median menjadi 0
- selisih antara q3 dan q1 menjadi 1
- efektif ketika ada data outliers

In [15]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, MinMaxScaler

In [16]:
scaling=StandardScaler()

In [ ]:
std=scaling.fit_transform(X)

In [ ]:
scale_MM=MinMaxScaler()
X_scale=scale_MM.fit_transform(X)

In [ ]:
X_train_poli,X_test_poli,y_train_poli,y_test_poli=train_test_split(X,y,test_size=.20,random_state=666)

In [ ]:
model.fit(X_train,y_train)
model.score(X_train,y_train)

In [ ]:
polynomeal dipake kalo datanya ga linear, taunya gak linear di cek pake

In [19]:
import sklearn
import statsmodels
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

In [73]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# goals
membuat model untuk memprediksi biaya taksi yang paling efektif

In [23]:
df=pd.read_csv('taxi.csv',parse_dates=['pickup_datetime'])
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1.0
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1.0
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2.0
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1.0
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1.0

In [21]:
## describe data

In [24]:
df.isna().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      1
dtype: int64

In [25]:
df.dropna(inplace=True)

In [26]:
df.dtypes

fare_amount                 float64
pickup_datetime      datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count             float64
dtype: object

In [27]:
df.describe()
#fare amount minimalnya minus, kan gak mungkin

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,18918.000000,18918.000000,18918.000000,18918.000000,18918.000000,18918.000000
mean,11.289221,-72.486834,39.925272,-72.498734,39.913116,1.657205
std,9.551667,10.503808,6.715228,10.461670,6.160671,1.282236
min,-3.000000,-74.438233,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992223,40.734687,-73.991233,40.734589,1.000000
50%,8.500000,-73.981758,40.752620,-73.980234,40.753566,1.000000
75%,12.500000,-73.966788,40.767427,-73.963834,40.768066,2.000000
max,180.000000,40.766125,401.083332,40.802437,41.366138,6.000000

In [28]:
## data preparation

# adding feature
- jarak
- jam
- hari - hari kerja atau hari libur(weekdays-weekend)
- lokasi
- tahun
- passenger count

In [29]:
#ekstraksi tanggal
pickup_dt=df['pickup_datetime'].dt# dt itu fungsi kalo dt.year bisa ngambil year nya aja

In [ ]:
# extraction datetime features

In [31]:
df['year']=pickup_dt.year

In [32]:
df['month']=pickup_dt.month
df['day']=pickup_dt.day
df['hour']=pickup_dt.hour

In [33]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,hour
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1.0,2009,6,15,17
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1.0,2010,1,5,16
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2.0,2011,8,18,0
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1.0,2012,4,21,4
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1.0,2010,3,9,7

In [34]:
df['fare_amount'].describe()

count    18918.000000
mean        11.289221
std          9.551667
min         -3.000000
25%          6.000000
50%          8.500000
75%         12.500000
max        180.000000
Name: fare_amount, dtype: float64

In [35]:
df.drop(columns='pickup_datetime',inplace=True)

In [36]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,hour
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1.0,2009,6,15,17
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1.0,2010,1,5,16
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2.0,2011,8,18,0
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1.0,2012,4,21,4
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1.0,2010,3,9,7

In [38]:
## membuat feature jarak
df['distance']=abs((df['pickup_latitude']-df['dropoff_latitude'])+(df['pickup_longitude']-df['dropoff_longitude']))

In [39]:
df.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,day,hour,distance
0,4.5,-73.844311,40.721319,-73.841610,40.712278,1.0,2009,6,15,17,0.006340
1,16.9,-74.016048,40.711303,-73.979268,40.782004,1.0,2010,1,5,16,0.107481
2,5.7,-73.982738,40.761270,-73.991242,40.750562,2.0,2011,8,18,0,0.019212
3,7.7,-73.987130,40.733143,-73.991567,40.758092,1.0,2012,4,21,4,0.020512
4,5.3,-73.968095,40.768008,-73.956655,40.783762,1.0,2010,3,9,7,0.027194

In [40]:
df.drop(columns=['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude'],inplace=True)

In [41]:
df.head()

   fare_amount  passenger_count  year  month  day  hour  distance
0          4.5              1.0  2009      6   15    17  0.006340
1         16.9              1.0  2010      1    5    16  0.107481
2          5.7              2.0  2011      8   18     0  0.019212
3          7.7              1.0  2012      4   21     4  0.020512
4          5.3              1.0  2010      3    9     7  0.027194

In [42]:
#splitting data

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X=df.drop(columns='fare_amount')
y=df['fare_amount']

X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=.80,random_state=42)

/Users/risyad/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [45]:
## machine learning modelling

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
model=LinearRegression()

In [48]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [49]:
## evaluation model

In [50]:
pred=model.predict(X_test)

In [51]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [52]:
MAE=mean_absolute_error(y_test,pred)

In [53]:
MSE=mean_squared_error(y_test,pred)

In [54]:
RMSE=np.sqrt(MSE)

In [55]:
R2=r2_score(y_test,pred)

In [56]:
print("hasil evaluation")
print(f"MAE {MAE}")
print(f"MSE {MSE}")
print(f"RMSE {RMSE}")
print(f"R2 {R2}")

hasil evaluation
MAE 5.741382751775873
MSE 83.8933645438689
RMSE 9.159332101407225
R2 0.01531998253650979

In [58]:
#optimize model - termasuk feature engineering
## analisis

In [59]:
df_analysis=X_train.copy()

In [60]:
pred_train=model.predict(X_train)

In [61]:
r2_score(y_train,pred_train)

0.016496798368931476

In [63]:
df_analysis['target']=y_train

In [64]:
df_analysis.head()

       passenger_count  year  month  day  hour  distance  target
7539               1.0  2011      6   14    22  0.000000     8.9
578                3.0  2010      3   25    10  0.009293     3.7
8056               5.0  2010      4   12     8  0.048951     8.5
11761              1.0  2014     11   17    22  0.021735     9.5
15531              1.0  2012     12   29    13  0.010498     4.5

In [65]:
df_analysis['prediksi']=pred_train

In [66]:
df_analysis.head()

       passenger_count  year  month  day  hour  distance  target   prediksi
7539               1.0  2011      6   14    22  0.000000     8.9  10.432550
578                3.0  2010      3   25    10  0.009293     3.7  10.012706
8056               5.0  2010      4   12     8  0.048951     8.5  10.373180
11761              1.0  2014     11   17    22  0.021735     9.5  12.937605
15531              1.0  2012     12   29    13  0.010498     4.5  12.135047

In [67]:
df_analysis['error']=abs(df_analysis['target']-df_analysis['prediksi'])

In [69]:
df_analysis.sort_values(by='error',ascending=False).head(10)
# target error sama prediksi terlalu jauh

,passenger_count,year,month,day,hour,distance,target,prediksi,error
1335,1.0,2013,1,16,20,0.000000,180.00,11.162815,168.837185
1483,1.0,2009,8,7,21,0.000200,165.00,9.476391,155.523609
6630,1.0,2014,5,16,1,0.000000,128.83,13.089711,115.740289
12349,1.0,2010,5,1,15,0.347852,104.67,10.020651,94.649349
14142,1.0,2014,12,12,10,0.045860,108.00,13.583620,94.416380
12915,1.0,2011,9,7,1,0.000000,96.00,11.710193,84.289807
10077,1.0,2009,11,9,14,0.290656,87.30,10.139935,77.160065
4620,1.0,2012,8,21,20,0.266226,85.50,11.378895,74.121105
14519,1.0,2011,12,16,14,0.290563,82.50,11.506921,70.993079
12437,1.0,2013,6,14,16,0.228572,80.75,11.957052,68.792948

In [76]:
df_analysis[df_analysis['passenger_count']<1].count()

passenger_count    57
year               57
month              57
day                57
hour               57
distance           57
target             57
prediksi           57
error              57
dtype: int64

In [77]:
df_analysis[df_analysis['distance']<=0].count()

passenger_count    412
year               412
month              412
day                412
hour               412
distance           412
target             412
prediksi           412
error              412
dtype: int64

In [78]:
df_analysis[df_analysis['target']<=0].count()

passenger_count    2
year               2
month              2
day                2
hour               2
distance           2
target             2
prediksi           2
error              2
dtype: int64

In [79]:
#optimize

In [80]:
df_clean=df.copy()

In [82]:
df_clean=df_clean[(df_clean['passenger_count']>0)&(df_clean['distance']>0)&(df_clean['fare_amount']>0)]

In [83]:
df_clean.head()

   fare_amount  passenger_count  year  month  day  hour  distance
0          4.5              1.0  2009      6   15    17  0.006340
1         16.9              1.0  2010      1    5    16  0.107481
2          5.7              2.0  2011      8   18     0  0.019212
3          7.7              1.0  2012      4   21     4  0.020512
4          5.3              1.0  2010      3    9     7  0.027194

In [84]:
## feature engineering

In [85]:
X=df_clean.drop(columns='fare_amount')
y=df_clean['fare_amount']

In [86]:
### polynomial feature

In [87]:
from sklearn.preprocessing import PolynomialFeatures,StandardScaler,MinMaxScaler,RobustScaler

In [88]:
poli=PolynomialFeatures(degree=4,include_bias=False)

In [90]:
X_poli=poli.fit_transform(X)

In [95]:
X_poli_4=pd.DataFrame(X_poli)

In [93]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,199,200,201,202,203,204,205,206,207,208
0,1.0,2009.0,6.0,15.0,17.0,0.006340,1.0,2009.0,6.0,15.0,...,0.009044,73695.0,27.483900,0.010250,0.000004,83521.0,31.148420,0.011617,0.000004,1.615686e-09
1,1.0,2010.0,1.0,5.0,16.0,0.107481,1.0,2010.0,1.0,5.0,...,0.288804,20480.0,137.575680,0.924173,0.006208,65536.0,440.242176,2.957354,0.019866,1.334525e-04
2,2.0,2011.0,8.0,18.0,0.0,0.019212,4.0,4022.0,16.0,36.0,...,0.119589,0.0,0.000000,0.000000,0.000128,0.0,0.000000,0.000000,0.000000,1.362355e-07
3,1.0,2012.0,4.0,21.0,4.0,0.020512,1.0,2012.0,4.0,21.0,...,0.185547,1344.0,6.892032,0.035342,0.000181,256.0,1.312768,0.006732,0.000035,1.770240e-07
4,1.0,2010.0,3.0,9.0,7.0,0.027194,1.0,2010.0,3.0,9.0,...,0.059901,3087.0,11.992554,0.046589,0.000181,2401.0,9.327542,0.036236,0.000141,5.468804e-07

In [ ]:
## data splitting

In [96]:
X=X_poli_4
y=df_clean["fare_amount"]

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)

In [94]:
model_poli=LinearRegression()

In [98]:
model_poli.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [99]:
pred_poli=model_poli.predict(X_test)

In [101]:
MAE_poli=mean_absolute_error(y_test,pred_poli)

In [102]:
MSE_poli=mean_squared_error(y_test,pred_poli)

In [103]:
RMSE_poli=np.sqrt(MSE_poli)

In [100]:
R2_poli=r2_score(y_test,pred_poli)

In [104]:
print("hasil evaluation")
print(f"MAE {MAE_poli}")
print(f"MSE {MSE_poli}")
print(f"RMSE {RMSE_poli}")
print(f"R2 {R2_poli}")

hasil evaluation
MAE 34.25979289457638
MSE 3003711.2785973256
RMSE 1733.12183028122
R2 -34215.72365839211

In [105]:
## scaling data

In [106]:
scaling=RobustScaler()

In [107]:
X_scaled=scaling.fit_transform(X)

In [108]:
X=X_poli_4
y=df_clean["fare_amount"]

In [109]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)

In [110]:
model_scaled=LinearRegression()

In [112]:
model_scaled.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [113]:
pred_scaled=model_scaled.predict(X_test)

In [114]:
MAE_scaled=mean_absolute_error(y_test,pred_scaled)
MSE_scaled=mean_squared_error(y_test,pred_scaled)
RMSE_scaled=np.sqrt(MSE_scaled)
R2_scaled=r2_score(y_test,pred_scaled)

In [115]:
print("hasil evaluation")
print(f"MAE {MAE_scaled}")
print(f"MSE {MSE_scaled}")
print(f"RMSE {RMSE_scaled}")
print(f"R2 {R2_scaled}")

hasil evaluation
MAE 34.25979289457638
MSE 3003711.2785973256
RMSE 1733.12183028122
R2 -34215.72365839211

In [116]:
## hari selanjutnya

In [117]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [ ]:
model_lin=LinearRegression(n_neighbours=5,3,7)